:root {
    --accent-color: #008afb;
    --main-white: #f5f5f5;
    --main-gray: #373737;
    --main-light-gray: #969696;
    --main-background: #282828;
}
html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Exo, Verdana, Geneva, Tahoma, sans-serif;
    
    background-color: var(--main-background);
    color: var(--main-white);

    color-scheme: dark;
}
h1, h2 {
    font-style: italic;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main {
    min-height: 500px;
}
a {
    color: var(--accent-color);
    text-decoration: none;
    transition: filter 0.2s;
}
a:hover {
    filter: brightness(75%);
}
#top-bar {
    background-color: var(--main-gray);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#top-bar-title {
    flex: 1;
    padding: 0.5em 1em;
    margin: 0.1em 0;
    display: flex;
    justify-content: flex-start;
    font-size: 0.7em;
}
#top-bar-menu {
    flex: 2.5;
    display: flex;
    justify-content: flex-end;
    padding: 0.5em 1em;
    list-style: none;
    font-size: larger;
}
#top-bar-menu > li {
    padding: 0 0.5em 0 0.5em;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.container {
    display: flex;
    justify-content: center;
    /* max-width: 1400px; */
}
.container > div {
    margin: 0 1em;
}
.content-left {
    flex: 1;
    max-width: 50vw;
}
.content-right {
    flex: 1;
    max-width: 50vw;
}
.content-center {
    flex: 1;
    max-width: 90vw;
}
.svg-icon {
    width: 32px;
    transition: transform 0.5s;
}
.svg-icon:hover {
    transform: scale(1.1);
}
.logo {
    width: 80px;
    padding-right: 20px;
}
.logo-sm {
    display: none;
}
#footer {
    text-align: center;
    color: var(--main-light-gray);
    margin: 0 1em;
}
.mx-1 {
    margin-left: 2px;
    margin-right: 2px;
}
.game-entry {
    border-radius: 10px;
    background-color: var(--main-gray);
    padding: 0.5em 1em;
    margin-bottom: 10px;
    min-height: 150px;

    justify-content: center;
    display: flex;
    flex-direction: column;
}
.game-thumbnail {
    width: 64px;
    height: 64px;
    border-radius: 10px;
    background-size: cover;
    margin-right: 16px;
    transition: transform 0.5s;
}
.game-thumbnail:hover {
    transform: scale(1.1);
}
.game-head {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.game-links {
    display: flex;
    gap: 10px;
}
.game-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.game-tags {
    display: flex;
    flex-direction: row;
    justify-content: end;
    justify-content: center;
}
.pill {
    background-color: var(--main-background) !important;
    color: var(--main-white) !important;
    border-radius: 16px;
    font-size: 0.9em;
    padding: 0em 0.5em;
    margin: 0em 0.2em;    
    margin-top: auto;
    margin-bottom: auto;
    height: 24px;
    line-height: 24px;
    filter: brightness(100%);
}
.contact-entry {
    display: flex;
    flex-direction: row;
    justify-content: start;
}
.contact-entry > span {
    margin-left: 10px;
    line-height: 32px;
}
.videos{
    display: flex;
    justify-content: center;
}
    
iframe{
    padding: 1rem;
}    
/* Responsive layout */
@media screen and (max-width: 600px) {
    #top-bar {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    #top-bar-title {
        justify-content: center;
    }
    #top-bar-menu {
        justify-content: center;
    }
    .container {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
    }
    .content-right {
        flex: 2;
        max-width: 100%;
    }
    .content-left {
        flex: 2;
        max-width: 100%;
    }
    .content-center {
        flex: 2;
        max-width: 100%;
    }
    img.logo {
        width: 80px;
        padding-right: 0px;
    }
    .logo-title {
        display: none;
    }
    .logo {
        display: none;
    }
    .logo-sm {
        display: block;
    }
}